body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 1px;
  background: #575353;
}

.cell {
  width: 20px;
  height: 20px;
  background: #1e1e1e;
}

.snake {
  background: limegreen;
}
